.about-section {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.shooting-star-white {
  position: absolute;
  width: 2px;
  height: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 50%;
  opacity: 0;
  animation: shooting 3s ease-in-out infinite;
  will-change: transform, opacity;
}

@keyframes shooting {
  0% {
    transform: translateX(0) translateY(0) rotate(45deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: translateX(-500px) translateY(500px) rotate(45deg);
    opacity: 0;
  }
}

.shooting-star-white:nth-child(1) {
  top: 0;
  left: 10%;
  animation-delay: 0s;
}

.shooting-star-white:nth-child(2) {
  top: 5%;
  left: 50%;
  animation-delay: 0.5s;
}

.shooting-star-white:nth-child(3) {
  top: 5%;
  left: 70%;
  animation-delay: 1s;
}

.shooting-star-white:nth-child(4) {
  top: 10%;
  left: 80%;
  animation-delay: 1.5s;
}

.shooting-star-white:nth-child(5) {
  top: 15%;
  left: 90%;
  animation-delay: 2s;
}

.shooting-star-white:nth-child(6) {
  top: 20%;
  left: 30%;
  animation-delay: 2.5s;
}

.shooting-star-white:nth-child(7) {
  top: 50%;
  left: 60%;
  animation-delay: 3s;
}

.shooting-star-white:nth-child(8) {
  top: 70%;
  left: 85%;
  animation-delay: 3.5s;
}

.shooting-star-white:nth-child(9) {
  top: 80%;
  left: 95%;
  animation-delay: 4s;
}

.shooting-star-white:nth-child(10) {
  top: 90%;
  left: 20%;
  animation-delay: 4.5s;
}
