
.img-box:hover .p {
  top: 0;
}

.p {
  transition: 0.5s all;
}

.navbar-link {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #6caff3;
}

.navbar-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #6caff3;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-link:hover::after {
  width: 100%;
}

@media (min-width: 303px) and (max-width: 1024px) {
  .navbar-link {
    color: #ffffff;
  }

  .navbar-link:hover {
    color: #0a0a0a;
  }

  .navbar-link::after {
    background: #0a0a0a;
  }
}
